<script src="/js/jquery.min.js"></script>
<script src="/js/semantic.min.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/header.js"></script>
<script src="/js/main.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/html2canvas.min.js"></script>

{{ "<!-- footer-->" | safeHTML }}

{{ if .Site.GoogleAnalytics }}
  {{ template "_internal/google_analytics_async.html" . }}
{{ end }}

{{ if .Site.Params.yandexMetrica }}
  {{ "<!-- yandex metrica-->" | safeHTML }}
  {{ partial "yandex.html" . }}
{{ end }}