{{ if .Site.Params.darkNav }}
<nav class="ui secondary inverted menu dream-menu">
{{ else }}
<nav class="ui secondary menu dream-menu">
{{ end }}
  <div class="item">
    <i class="large link bullseye icon dream-flip-toggle" title="{{ i18n "flip" }}"></i>
  </div>
  <div class="item">
    <!-- <i class="large link home icon" title="{{ i18n "home" }}" onclick="window.location.href = '{{ .Site.BaseURL | relLangURL }}'"></i> -->
    <i class="large link home icon" title="{{ i18n "home" }}" onclick="window.location.href = '{{ .Site.BaseURL }}'"></i>

  </div>
  <div class="item">
    <i id="theme-switch" class="large link icon" onclick="themeSwitch()"></i>
  </div>
</nav>
